@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&family=Lato&display=swap');

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    background-color: #DAD9D6;
}

* {
    margin: 0;
    padding: 0;
}

/* General Styles */
.main-container {
    background-color: #E4E4E4;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #d0d0d0;
    position: relative;
    box-shadow: 10px 10px 0 10px hsl(0, 0%, 90%);
    /* height: 100vh; */
}

ul {
    list-style-type: none;
}

/* General Display Settings */
.hidden {
    display: none;
}


/* Headings */
.heading {
    font-family: 'Fraunces', serif;
    font-weight: bold;
}

.small-caps {
    font-variant: small-caps;
}

/* Buttons */
.play-game {
    width: 100%;
    font-size: 1.6rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media Queries */

@media screen and (min-width: 768px) {
    .navbar-expand-lg .navbar-nav {
        justify-content: flex-end;
    }

    .play-game-btn {
        display: flex;
        justify-content: center;
    }

    .play-game {
        width: 50%;
    }

    .main-container:after {
        content: " ";
        position: absolute;
        z-index: -1;
        bottom: 5px;
        left: 10px;
        top: -8px;
        right: -8px;
        background-color: #E4E4E4;
        border: 2px solid #d0d0d0;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 13px -18px 0 -10px hsl(0, 0%, 88%)
    }
}

