@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&family=Lato&display=swap');

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    background-color: #DAD9D6;
}

* {
    margin: 0;
    padding: 0;
}

/* General Styles */
.main-container {
    background-color: #E4E4E4;
    height: 100vh;
}

ul {
    list-style-type: none;
}

/* General Display Settings */
.hidden {
    display: none;
}


/* Headings */
.heading {
    font-family: 'Fraunces', serif;
    font-weight: bold;
}

.small-caps {
    font-variant: small-caps;
}

/* Buttons */
.play-game {
    width: 100%;
    font-size: 1.6rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media Queries */

@media screen and (min-width: 768px) {
    .navbar-expand-lg .navbar-nav {
        justify-content: flex-end;
    }

    .play-game-btn {
        display: flex;
        justify-content: center;
    }

    .play-game {
        width: 50%;
    }
}

